body{
    background-color: rgb(255, 211, 218);
    text-align: center;
    color: rgba(117, 6, 117, 0.575);
    font-family: monospace;
}

a{
    color: rgba(59, 123, 186, 0.673);
    text-decoration: none;
}
a:hover {
    color: blueviolet;
    text-decoration: line;
}
main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align:center;
}
h3{
    text-align:center;
}

img{
    width: 40%;
}
figure{
    text-align: center;
    font-style:italic;

}
table{
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}  
th, td {
    
    text-align: left;
    padding: 10px;
    border: 2px solid black;
}
th{
    background-color: rgba(251, 74, 104, 0.851);
    color: darkblue;
}

/* Form Styling */

input[type="text"],
input[type="tel"],
input[type="email"],
select {
  padding: 5px;
  margin: 5px;
  border: 2px solid rgb(228, 58, 86);
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  background-color: rgba(254, 61, 61, 0.825);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: rgb(228, 58, 86);
}