body{
    background-color: rgb(255, 211, 218);
    text-align: center;
    color: #7a337dd6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: rgb(237, 100, 162);
    text-decoration: none;
}
a:hover {
    color: rgba(127, 37, 211, 0.404);
}
main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align:center;
}
h3{
    text-align:center;
}

img{
    width: 40%;
}
figure{
    text-align: center;
    font-style:italic;

}
/* Table Styling*/
table{
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
}  
th, td {
    
    text-align: left;
    padding: 10px;
    border: 2px solid black;
    color: White;
}
th{
    background-color: rgba(255, 141, 160, 0.691);
    color: darkblue;
}
tr:nth-child(even) {
    background-color:  rgba(126, 23, 142, 0.544);
}

tr:nth-child(odd) {
    background-color: rgba(194, 87, 210, 0.754);
}

/* Form Styling */
.divider {
    border: 4px double rgb(161, 44, 157);
}
input[type="text"],
input[type="tel"],
input[type="email"],
select {
  padding: 3px;
  margin: 10px;
  border: 2px solid rgb(161, 44, 157);
  border-radius: 4px;
}
form {
    padding: 1px;
}

input[type="submit"],
input[type="reset"] {
  background-color: rgba(194, 87, 210, 0.742);
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: rgba(106, 58, 228, 0.742);
}

butterfly{
    position: relative;
    top: 2px;
    height: 24px;
    width: 25px;
}

/* slideshow */  
.prev {
    cursor: pointer;
    position: absolute;
    left: 50px;
    top: 50%;
    width: auto;
    padding: 7px;
    margin-top: 30px;
    color: goldenrod;
    background-color:rgba(50, 9, 139, 0.721);
}
.next {
    cursor: pointer;
    position: absolute;
    right: 120px;
    top: 50%;
    width: auto;
    padding: 7px;
    margin-top: 30px;
    color: goldenrod;
    background-color:rgba(50, 9, 139, 0.721);
}