/* body {
    font-family: Arial, sans-serif;
    background-color: powderblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: thistle;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: powderblue;
    text-decoration: none;
}

section {
    padding: 2rem;
}

#about, #projects, #contact {
    border-bottom: 1px solid thistle;
}

.project {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input, form textarea, form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 1rem;
} */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow-x: hidden; 
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(#262E42, #0F172D);
    color: aliceblue;
    scroll-behavior: smooth;
}

.wave {
    display: inline-block;
    transform-origin: 70% 70%; 
    animation-name: wave-animation; 
    animation-duration: 2.5s;        
    animation-iteration-count: 1;    
}

.wave:hover {
    animation-name: wave-animation; 
    animation-duration: 2.5s;       
    animation-iteration-count: infinite; 
    animation-fill-mode: forwards; 
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.7);
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease; 
    white-space: nowrap; 
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 100%; 
    transform: translateY(-50%); 
    width: 20%; 
    height: 2px; 
    background-color: aliceblue; 
    transition: width 0.3s ease, background-color 0.3s ease; 
    opacity: 0.5; 
}

.nav-link:hover::before {
    width: 25%; 
    opacity: 1; 
}

.nav-link:hover {
    color: #fff; 
    transform: translateX(15px); 
}

.contact-icons {
    margin-top: 20px; 
}

.icon-link {
    margin-right: 15px; 
    color: rgba(240, 248, 255, 0.7);
    font-size: 24px; 
    transition: color 0.3s; 
}

.icon-link:hover {
    color: aliceblue; 
}

.container {
    display: flex; 
    min-height: 100%;
    box-sizing: border-box; 
}

.sidebar, .main-content {
    box-sizing: border-box; 
}

.sidebar {
    width: 40%;
    height: 100%;
    overflow-y: auto; 
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sidebar p {
    color: rgba(240, 248, 255, 0.7);
}

.main-content {
    width: 60%;
    height: 100%;
    overflow-y: auto; 
    padding-left: 20px;
    padding-right: 20px;
}

.main-content p {
    color: rgba(240, 248, 255, 0.7); 
}


.about {
    display: flex;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 60%;
    border-radius: 50%;
}

.text {
    padding-top: 300px;
    width: 250%;
}

.link {
    text-decoration: none; 
    color: inherit;
}

.experience-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

.experience-box {
    display: flex;
    align-items: center; 
    background-color: #0F172D;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; 
}

.experience-box:hover {
    background-color: rgba(15, 23, 45, 0.4);
}

.experience-box:hover h4 {
    color: #86dde2; 
    transition: color 0.3s ease; 
}

.experience-box p {
    color: rgba(240, 248, 255, 0.7); 
}

.date-position {
    font-weight: bold;
    color: rgba(240, 248, 255, 0.7);
    padding-right: 20px;
    font-size: 0.7em; 
    flex-basis: 15%; 
    flex-grow: 1; 
    flex-shrink: 0; 
    word-wrap: break-word; 
    min-width: 100px; 
}


.details {
    flex-grow: 1; 
    font-size: 1em;
}

.details h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.details h4::after {
    content: '\2197';  
    display: inline-block;
    margin-left: 10px;  
    transition: transform 0.3s ease; 
    transform: translateY(0%); 
}

.experience-box:hover h4::after {
    transform: translateY(-5px); 
}


.tags span {
    display: inline-block;
    background-color: rgba(134, 221, 226, 0.1);
    color: #86dde2;
    border-radius: 40px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 0.8em;
}

.tags span:last-child {
    margin-right: 0;
}

.date-position img {
    width: 100%;
}

.footer {
    margin-top: 100px;
    margin-bottom: 20px;
    color: rgba(240, 248, 255, 0.7);
    font-size: 0.9em;
}

