<h1 class="name"><img src="images/logo.jpg" style="width:5%" alt="icon" id="icon">Tamil Student Organization</h1>
<!-- Header section containing navigation and logo -->
<header>
    <!-- Main title shown in the header -->
        
    <!-- Navigation bar with links to different pages -->
    <nav>
        <!-- Navigation link to the home page -->
        <a class="nav-button" href="./" style="text-decoration-line: none;">Home</a>
        ||
        <!-- Navigation link to the About Us page -->
        <a class="nav-button" href="about.html" style="text-decoration-line: none;">About Us</a>
        ||
        <!-- Navigation link to the Projects page -->
        <a class="nav-button" href="events.html" style="text-decoration-line: none;">Event</a>
        ||
        <!-- Navigation link to the Events page -->
        <a class="nav-button" href="calender.html" style="text-decoration-line: none;">Calender</a>
        ||
        <!-- Navigation link to the Join Us page -->
        <a class="nav-button" href="joinus.html" style="text-decoration-line: none;">Join Us</a>
        ||
        <!-- Navigation link to the Resources page -->
        <a class="nav-button" href="contact.html" style="text-decoration-line: none;">Resources</a>
        
    </nav>
</header>