<!-- Header section containing navigation-->
<header>
    <h1 class="name">Tamil Student Organization</h1>
    <!-- Main title shown in the header -->
        
    <!-- Navigation bar with links to different pages -->
    <nav>
        <!-- Navigation link to the home page -->
        <a class="nav-button" href="./" style="text-decoration-line: none;">Home</a>
        ||
        <!-- Navigation link to the eboard page -->
        <a class="nav-button" href="eboard.html" style="text-decoration-line: none;">About Us</a>
        ||
        <!-- Navigation link to the events page -->
        <a class="nav-button" href="events.html" style="text-decoration-line: none;">Event</a>
        ||
        <!-- Navigation link to the calender page -->
        <a class="nav-button" href="calender.html" style="text-decoration-line: none;">Calender</a>
        ||
        <!-- Navigation link to the Join Us page -->
        <a class="nav-button" href="joinus.html" style="text-decoration-line: none;">Join Us</a>
        ||
        <!-- Navigation link to the Resources page -->
        <a class="nav-button" href="contact.html" style="text-decoration-line: none;">Resources</a>
        
    </nav>
</header>